[Unit]
Description=WB Core Sheet Vitrina Auto Refresh Schedule Tick Timer

[Timer]
OnCalendar=*-*-* *:00,10,20,30,40,50:00
AccuracySec=1m
Unit=wb-core-sheet-vitrina-refresh.service

[Install]
WantedBy=timers.target
