[Unit]
Description=WB Core SPP Tester Daily Schedule Due Tick Timer

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=15s
Unit=wb-core-spp-tester-schedule-tick.service

[Install]
WantedBy=timers.target
